@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap');
//colors
$color-band: #75efff;
$color-bg: #101c31;
$color-font: #fff;
$color-border: #ccc;

//heading
$heading: 70px;
$h1: 35px;
$h2: 30px;
$h3: 25px;
$h4: 22px;
$h5: 20px;
$transition: all 0.3s ease-in-out;

//media width
$large: 1100px;
$ex-medium: 900px;
$medium: 768px;
$small: 550px;
$extraSmall: 450px;

//padding marign
$pm-15: 150px;
$pm-10: 100px;
$pm-8: 80px;
$pm-6: 60px;
$pm-5: 50px;
$pm-4: 40px;
$pm-2: 20px;
$pm-1: 10px;

$transition: all 0.3s ease-out;

//font
$monospace: 'Roboto Mono', monospace;;
$heading-font: 'Roboto', sans-serif;
$all-font: 'Poppins', sans-serif;
$liber: 'Libre Baskerville', serif;

//only for button

$height: 40px;
$width: 120px;
$button-color: #75efff;



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

@mixin center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

body{
  margin: 0;
  font-family: $all-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: calc(100vw - (100vw - 100%));
  overflow-x: hidden;
  background-color: #101c31;
  color: $color-font;
  a{
    text-decoration: none;
    line-height: 100%;
    color: $color-font;
    //font-family: ;
    //color: ;
  }
  li{
    list-style: none;
  }
  h1,h2,h3,h4,h5{
    line-height: 100%;
    font-weight: 400;
    letter-spacing: 1px;
  }
  p,a,span,strong{
    line-height: 100%;
    font-size: 16px;
    letter-spacing: 0.8px;
  }

  .heading{
    font-size: $heading;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 6px;
    font-weight: 900;
    @media (max-width: $small) {
        font-size: $h1;
        letter-spacing: 2px;
    }
}

  .h1{
    font-size: $h1;
    letter-spacing: 1.5px;
    @media (max-width: $small) {
      font-size: $h2;
    }
  }
  .h2{
    font-size: $h2;
    letter-spacing: 1.3px;
    @media (max-width: $small) {
      font-size: $h3;
    }
  }
  .h3{
    font-size: $h3;
    letter-spacing: 1.2px;
    @media (max-width: $small) {
      font-size: $h4;
    }
  }
  .h4{
    font-size: $h4;
    letter-spacing: 1.1px;
    @media (max-width: $small) {
      font-size: $h5;
    }
  }
  .h5{
    font-size: $h5;
    letter-spacing: 1px;
    @media (max-width: $small) {
      font-size: 18px;
    }
  }
  .title{
    //font-family: '';
    font-size: $h2;
    letter-spacing: 1.3px;
    @media (max-width: $small) {
      font-size: $h3;
    }
  }
  .sub-title{
    //font-family: '';
    font-size: $h4;
    letter-spacing: 1.3px;
    @media (max-width: $small) {
      font-size: $h5;
    }
  }

  .section-container{
    padding: $pm-8 $pm-10;
    @media (max-width: $medium) {
      padding: $pm-5 $pm-8;
    }
    @media (max-width: $small) {
      padding: $pm-2 $pm-2;
    }
  }

  

  .btn-btn {
    text-decoration: none;
    cursor: pointer;
    border: 1px solid $button-color;
    border-radius: 8px;
    height:$height;
    width:$width;
    padding: 0;
    outline: none;
    overflow: hidden;
    color: $button-color;
    transition: color 0.3s 0.1s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
    &::before{
      @include center;
      content:'';
      border-radius: 50%;
      display: block;
      width: $width*2;
      height: $width*2;
      line-height: $width*2;
      left: -$width/2;
      text-align: center;
      transition: box-shadow 0.5s ease-out;
      z-index: -1;
    }
    
    &:hover{
      color: #fff;
      &::before{
      box-shadow:inset 0 0 0 $width rgba($button-color,0.3);
      }
    }
  }
}
